body {
  .show-spot {
    .spot-header {
      padding-bottom: 0;

      h1 {
        font-size: 3rem;
        line-height: 2.5rem;
        color: var(--ink);
        -webkit-text-fill-color: unset;
      }

      .button-group {
        margin-bottom: 5px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      a:hover {
        font-weight: 700;
      }
    }

    .spot-header.free_spot {
      background: var(--purplegradheader);
    }

    .spot-header.paid_spot, .spot-header.campsite {
      background: var(--orangegradheader);
    }

    .spot-header.mtb_spot, .spot-header.climbing_spot {
      background: var(--greengradheader);
    }

    .spot-header.surf_spot, .spot-header.kayaking_spot {
      background: var(--bluegradheader);
    }

    .spot-header.bad_spot {
      background: var(--redgrad);
      color: var(--notquitewhite);
    }

    .spot-map {
      height: 600px;
    }

    .ninety-container {
      max-width: 90%;
      margin: auto;
      padding-top: 60px;
      padding-bottom: 1px;

      .card {
        border-width: 1px;
        display: inline-block;
      }

      .card-header {
        border-width: 1px;
      }
    }

    @media screen and (max-width: 576px) {
      .container {
        padding-top: 0;
      }

      .ninety-container {
        .card {
          width: 100%;
        }
      }
    }
  }
}
