<div class="bg-green" id="reviews">
  <div class="container main-page-cards text-center">
    <h1>Latest Reviews</h1>
    <div class="card-deck">
      <% @ratings.each do |rating| %>
        <% next unless rating.spot.present? && rating.review_title? %>
        <%= render partial: 'ratings/card', locals: { rating: } %>
      <% end %>
    </div>
    <a class="js-scroll-trigger" href="#how_to"><i class="fas fa-5x fa-chevron-down"></i></a>
  </div>
</div>
