<div class="bg-blue" id="spots">
  <div class="container main-page-cards text-center">
    <h1>Latest Spots</h1>
    <div class="card-deck">
      <% @spots.each do |spot| %>
        <%= render partial: 'spots/card', locals: { spot: } %>
      <% end %>
    </div>
    <a class="js-scroll-trigger" href="#reviews"><i class="fas fa-5x fa-chevron-down"></i></a>
  </div>
</div>
