body {
  .filter-buttons {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;

    .btn {
      background-color: var(--darkerorange);
      color: var(--notquitewhite);
      margin-bottom: 10px;
    }

    .btn:hover {
      background-color: var(--orange);
    }

    .active {
      background-color: var(--purple);
    }

    .active:hover {
      background-color: var(--darkerpurple);
    }
  }

  .filterable {
    display: none;
  }

  .show {
    display: inline-block;
  }
}
