body {
  .user-profile {
    background: $backgroundgrad;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;

    .content {
      margin: auto;
    }

    .card-deck {
      max-height: 960px;
      overflow: auto;
    }
  }
}
